@import url('https://fonts.googleapis.com/css?family=Codystar|Nova+Slim|Open+Sans|Fira+Mono');

/*
font-family: 'Codystar', cursive;
font-family: 'Nova Slim', cursive;
font-family: 'Open Sans', sans-serif;
 */

#root {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(250, 250, 250);
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  transition: .1s;
  color: rgb(68, 68, 68);
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nova Slim', cursive;
  text-align: center;
  color: rgb(68, 68, 68);
}

.main {
  text-align: left;
  margin: 0 5%;
}

#footer {
  position: sticky;
  bottom: 1;
  background-color: rgb(250, 250, 250);
  padding: 2%;
  animation: slow 1s;
}

.nav {
  position: sticky;
  top: 0;
  background-color: rgb(250, 250, 250);
  padding: 2%;
  z-index: 3;
  border-bottom: 2px solid rgb(244, 244, 244);
  animation: slow .8s ease-out;
}

.links {
  display: block;
}

p {
  line-height: 1.55em;
  text-align: left;
  hyphens: auto;
}

#title {
  background: url('https://media.giphy.com/media/4BHJ1gQrfQNyg/giphy.gif');
  background-size: contain;
  background-position: 0 0;
  font-size: 5em;
  text-align: center;
  color: transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  filter: brightness(1.6) contrast(.68);
  transition: .2s;
  background-blend-mode: color;
}

#title:hover {
  filter: brightness(1) contrast(1);
  transition: .5s;
  text-transform: none;
  animation: ring-title .2s ease-out;
  animation-iteration-count: 2;
}

#title::selection {
  background-color: rgb(200, 200, 200);
  color: white;
  background-clip: inherit;
}

.header {
  top: 0;
  text-align: center;
  padding-bottom: 10px;
  font-size: 1.3em;
}

.nav {
  list-style: none;
  display: block;
  text-align: center;
    font-size: 1.3em;
}

li {
  list-style: none;
  display: inline-block;
  text-align: center;
  margin-right: 3%;
}

ul {
  padding: 0;
}


a, a:visited {
  color: rgb(66, 154, 112);
  text-decoration: none;
  font-family: 'Fira Mono', monospace;
  transition: .3s;
  padding-bottom: 3px;

}

a:active {
  font-weight: 700;
  color: rgb(83, 138, 195);
  text-transform: uppercase;
  transition: .2s;
}

a:hover {
  text-decoration: underline;
}

audio {
  width: 100px;
  overflow: hidden;
  border: 2px solid rgb(83, 138, 195);
  border-radius: 3px;
  margin-bottom: 15%;
  margin-top: 5%;
  transition: .25s;
}

audio:hover {
  animation-iteration-count: 3;
  animation: ring .2s ease-out;
  border: 2px solid rgb(66, 154, 112);
  transition: .2s;
    border-radius: 4px;
}

label {
  font-size: 1em;
  margin-right: 1%;
  animation: slow 1s;
}

#player {
  display: inline-block;
}

#ringtones {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  min-width: 400px;
  margin: 0 auto;
  padding: 10px;
  column-rule-style: solid;
  column-rule-color: rgba(83, 138, 195, .6);
  animation: slow .7s ease-out;
}

#notification {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  min-width: 400px;
  margin: 0 auto;
  padding: 10px;
  column-rule-style: solid;
  column-rule-color: rgba(83, 138, 195, .6);
  animation: slow .7s ease-out;
}

#about {
  animation: slow .7s ease-out;
}

#install {
  animation: slow .7s ease-out;
}

#alarm-page {
  animation: slow .7s ease-out;
}

#notification-page {
  animation: slow .7s ease-out;
}

#tones-screenshot {
  width: 30%;
  height: 30%;
  display: inline-block;
  border: 2px solid rgb(66, 154, 112);
}

#audio-html {
  width: 15%;
  height: 15%;
  display: inline-block;
  border: 2px solid rgb(66, 154, 112);
}

.instructions {
  text-align: center;
}

#arrow {
  vertical-align: text-top;
}

#load {
  background: url('https://media.giphy.com/media/26tPbLsr9oE72erjG/giphy.gif');
  background-size: contain;
  background-position: 0 0;
  font-size: 2.4em;
  text-align: center;
  color: transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  filter: brightness(1.8) contrast(.68);
  transition: .2s;
  background-blend-mode: color;
  -webkit-animation: load 1s;
  animation: load 1.3s;
  animation-iteration-count: infinite;
  filter: hue-rotate(40deg);
  padding-top: 15%;
}

@keyframes load {
  0% {
    opacity: 0;
  }
  55% {
    opacity: 1;
    filter: hue-rotate(10deg);
  }
  100% {
    opacity: 0;
  }
}

@keyframes slow {
  0% {
    opacity: 0;
  }
  55% {
    opacity: .7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes ring {
  0% {
    transform: rotate(3deg);
  }
  70% {
    transform: rotate(-4deg) scale(1.01);
  }
  80% {
    transform: rotate(3deg) scale(1.01);
  }
  100% {
    transform: scale(1) rotate(-2deg);
  }
}

@keyframes ring-title {
  0% {
    transform: rotate(1deg);
  }
  70% {
    transform: rotate(-1deg) scale(1.006);
  }
  80% {
    transform: rotate(1deg) scale(1.006);
  }
  100% {
    transform: scale(1) rotate(-2deg);
  }
}

/* ---mobile--- */

@media (max-width: 600px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
    margin: 10px;
  }
  label {
    font-size: .5em;
  }
  audio {
    border: 0px solid rgb(83, 138, 195);
    display: block;
    margin: 0 auto;
    align-items: center;
    font-size: 10px;
  }
  #title {
    font-size: 60px;
    padding-bottom: 2%;
  }
  #ringtones {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    padding: 1px;
    min-width: 100px;
    animation: 1s slow;
  }
  #notification {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    padding: 1px;
    min-width: 100px;
    animation: 1s slow;
  }
  .nav {
    list-style: none;
    display: block;
    text-align: center;
    border: 3px solid rgb(235, 235, 235);
    padding: 0px;
    margin: 0 auto;
    font-size: 14px;
    transition: .3s;
  }
  li {
    margin: 0 auto;
    margin-right: 2%;
    text-transform: uppercase;
    display: inline-block;
    padding: 3px;
  }
  .nav-link::after {
    content: ' |';
    color: rgb(66, 154, 112);
  }
  #footer {
    padding: 0px;
    border: 3px solid rgb(235, 235, 235);
    margin: 0 auto;
  }
}
